pytracking/got10k/test/*
pysot_toolkit/build/*
.vscode/*
ltr/data/got10k/test_data.zip
**/__pycache__/
ltr/checkpoints/*
pysot_toolkit/pysot/models/head/dcn/build/*
**.so
pytracking/evaluation/checkpoints/*
pytracking/evaluation/got10k/*
pytracking/evaluation/results/*
ltr/ltr/*
ltr/slt_transt/*
checkpoints/*
results
**/.ipynb_checkpoints/**